body{
  background-color: silver;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-image: url(http://cdn.msf.org/sites/msf.org/files/styles/teaser_block/public/map.jpg?itok=97ICzs-q);
}
h1{
  font: arial,sans serif;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: 0f0c01;
}
.divimage {
    float: left;
    width: 50%;

}
.div{
  clear:both;
}
img {
    width: 100%;
}
.img3{
  width: 75%;
  height: 75%;
  display: block;
  margin:0 auto;
}
.p1{
  font-size: 20px;
  font-family: sans-100rif;
  text-align: justify;
}
.citation{
  text-align: justify;
}
.DONNEZ{
  font-size: 30px;
}
